@import url("//at.alicdn.com/t/c/font_4716380_3s78hunrdee.css");

.iconfont10 {
  margin-right: 4px;
  font-size: 10px;
}

.iconfont12 {
  margin-right: 4px;
  font-size: 12px;
}

.iconfont14 {
  margin-right: 4px;
  font-size: 14px;
}

.iconfont15 {
  margin-right: 4px;
  font-size: 15px;
}

.iconfont16 {
  margin-right: 4px;
  font-size: 16px;
}

.iconfont18 {
  margin-right: 4px;
  font-size: 18px;
}

.iconfont20 {
  margin-right: 4px;
  font-size: 18px;
}

.iconfont22 {
  margin-right: 4px;
  font-size: 18px;
}
